{% extends "main/base.html" %}
{% block content %}

<h1>{{category.name}}</h1>


{% if dishes %}
<div class="card-deck">
    {% for dish in dishes %}
    <div class="card">
      <div class="container">
        <img src="{{ dish.image.url }}" class="card-img-top " alt="...">
        <div class="overlay">
          <div class="text-overlay">See more...</div>
        </div>
      </div>
        <div class="card-body">
          <h4 class="card-title">{{dish.title}}</h4>
          <p class="card-text">{{dish.description}}</p>

          <a href="{% url 'dish_detail_view' id=dish.id %}" class="btn btn-outline-info">See more</a>
        </div>
      </div>
    {% endfor %}
</div>
{%else%}
<h4>No dishes</h4>
{%endif%}
{% endblock content %}