{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>

<body>
    <div class="navbar">
        <ul class="navbar-left-list"> 
            <li class="navbar-element">
                <img width="60" height="60" src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/external-food-kitchen-flatart-icons-lineal-color-flatarticons.png" alt="external-food-kitchen-flatart-icons-lineal-color-flatarticons"/>
                <a href="{% url 'index' %}" class="logo-btn" aria-pressed="true">Food</a>
            </li>
            <li class="navbar-element">
                <a href="{% url 'index' %}" class="navbar-btn" role="button" aria-pressed="true">Категорії</a>
            </li>
            {% if user.is_authenticated %}
            <li class="navbar-element">
                <a href="{% url 'add_dish' %}" class="navbar-btn" role="button" aria-pressed="true">Додати нову страву</a>
            </li>
            <li class="navbar-element">
                <a href="{% url 'index' %}" class="navbar-btn" role="button" aria-pressed="true">Улюблені страви</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-right-list">
            {% if user.is_authenticated %}

            <li class="navbar-element">
                <img width="40" height="40" src="https://img.icons8.com/carbon-copy/100/user.png" alt="user"/> <a class="navbar-btn" href="{% url 'profile' %}">Профіль</a></li>
            <li class="navbar-element"> <a class="navbar-btn" href="{% url 'logout' %}">Вихід</a></li>
           
            
            {% else %}
            <li class="navbar-element">
                 <img width="40" height="40" src="https://img.icons8.com/carbon-copy/100/user.png" alt="user"/>
                <a class="navbar-btn" href="{% url 'login' %}">Вхід</a></li>
           
            {% endif %}
          </div>
        </ul>
    </div>
    {% block content %}{% endblock %}



    
</body>

</html>