{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="dish-container  text-center">
    <img class="dish-main-img" src="{{ dish.image.url }}" style="width:100%">
    <div class="dish-title">

        <h1>{{dish.title}}</h1>
        <div class="wrapper">
            <div><img class="dish-icon" src="{% static 'main/images/time.png' %}" alt="">{{dish.time}} хв</div>
            <div><img class="dish-icon" src="{% static 'main/images/portions.png' %}" alt=""> {{dish.portions}}</div>
            <div><img class="dish-icon" src="{% static 'main/images/star.png' %}" alt="">{{dish.complexity}}</div>
        </div>
        <hr>
        {% if user.is_authenticated and not is_favorite %}
       
        <a href="{% url 'add_to_favorites' id=dish.id  %}" class="btn-favourite p-2 mt-5">Додати до улюбленого</a>
        {% elif is_favorite %}
    <p><a href="{% url 'delete_from_favorites' id=dish.id  %}" class="btn btn-outline-danger ">Видалити з улюблених</a></p>
  {% else %}

        <p>Щоб зберегти до улюбленого, необхідно авторизуватись.</p>
        <a href="{% url 'login' %}?next={{ request.path }}" class="btn-favourite p-2 mt-5">Авторизуватись</a>
        {% endif %}
    



    </div>
</div>
<br>


<div class="dish-info">
    <div id="description">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Description</h3>
                    <p>{{dish.description}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptatem, omnis laudantium vel
                        maxime inventore tenetur recusandae suscipit facere. Quas animi at consequuntur atque, quod
                        alias doloremque vero quis aliquid?</p>
                    <p>URL: {{dish.video_url}}</p>
                </div>
                <div class="col-sm-6 p-0 m-0">
                    <img class="info-img" src="{{ dish.image.url }}" alt="">
                    <div class="overlay" onmousedown="viewDiv()">
                        <div class="text-overlay">Переглянути інгредієнти</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ingredients">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 p-0 m-0">
                    <img class="info-img" src="{{ dish.image.url }}" alt="" onmousedown="viewDiv()">
                    <div class="overlay" onmousedown="viewDiv()">
                        <div class="text-overlay">Переглянути опис приготування</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Ingredients</h3>
                    {% for ingredient in dish.ingredients.all %}
                    <p> {{ ingredient.title }} - {{ingredient.count}} {{ingredient.variable}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script></script>


{% endblock content %}