{% extends "main/base.html" %}
{% block content %}
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="https://html5css.ru/edithtm/img_snow_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://html5css.ru/edithtm/img_mountains_wide.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" style="width:100%">
    </div>
    <div class="slide-title">
        <div class="text">
            <h1>Caption Text</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, rem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nihil officiis, quaerat officia cumque ipsa aut
                adipisci ab, perferendis aperiam ipsum ut incidunt unde maiores. Doloribus, optio voluptatem. Quia, repudiandae?</p>
            <a class="slide-btn" href="{% url 'index' %}">More</a>
        </div>
    </div>
    <div class="slide-dots" style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
        <div class="card">
          <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title4</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title5</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title6</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title7</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title8</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="https://html5css.ru/edithtm/img_nature_wide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title9</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<h2>Helloo</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nihil officiis, quaerat officia cumque ipsa aut
    adipisci ab, perferendis aperiam ipsum ut incidunt unde maiores. Doloribus, optio voluptatem. Quia, repudiandae?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nihil officiis, quaerat officia cumque ipsa aut
    adipisci ab, perferendis aperiam ipsum ut incidunt unde maiores. Doloribus, optio voluptatem. Quia, repudiandae?</p>


{% for dish in dishes %}
<img src="{{dish.image.url}}" alt="IMAGE">
<h1> Title: {{dish.title}}</h1>     
<p>Time: {{dish.time}}</p>
<p>Portions: {{dish.portions}}</p>
<p>Complexity: {{dish.complexity}}</p>


<a href="{% url 'dish_detail_view' id=dish.id %}" class="btn btn-outline-dark" role="button" aria-pressed="true">More</a>
<hr>
{% endfor %}

{% endblock content %}