{% extends "main/base.html" %}
{% block content %}
<div class="slideshow-container">
    {% for category in categories %}
    <div class="mySlides fade">
        <img src="{{ category.image.url }}" style="width:100%">
    </div>
    {% endfor %}
    <div class="slide-title">
        <div class="text">
            <h1>Смачного!</h1>
            <p>Завдяки цьому сайту ти зможеш підібрати будь-яку страву, щоб приготувати. Знайти по певному інгредієнту, добавити нові страви, зберігати улюблені тощо.</p>
            <a class="slide-btn" href="{% url 'all_dishes' %}">Перейти</a>
        </div>
    </div>
    
    <div class="slide-dots" style="text-align:center">
        {% for category in categories %}
        <span class="dot"></span>
        {% endfor %}
    </div>
</div>

<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% for category in categories %}
          {% if forloop.first or forloop.counter0|divisibleby:3 %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <div class="cards-wrapper">
          {% endif %}
          
          <div class="card" data-url="{% url 'dishes_by_category' category_name=category.name %}" onclick="redirectToDish(this)">
              <div class="container">
                <img src="{{ category.image.url }}" class="card-img-top " alt="...">
                  <div class="overlay">
                      <div class="text-overlay">See more...</div>
                  </div>
              </div>
              <div class="card-body">
                  <h3 class="card-title">{{ category.name }}</h3>
                  <p class="card-text">
                    <ul>
                        {% for subcategory in category.children.all %}
                          <li> {{ subcategory.name }}<br></li>
                      {% endfor %}
                    </ul>
                  </p>
              </div>
          </div>
          
          {% if forloop.last or forloop.counter|divisibleby:3 %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>


{% endblock content %}