body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 240, 233);
}


/* родитель */
.navbar {
    background-color: rgb(199, 175, 139);
    margin: 0;
    padding: 0;

}

/* flex-контейнер */
.navbar-left-list,
.navbar-right-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.navbar-left-list {
    justify-content: start;

}

.navbar-right-list {
    justify-content: end;
}

/* flex-элемент */
.navbar-element {
    padding: 5px;
    margin: 0 15px;

}

.navbar-btn,
.logo-btn {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(88, 70, 27);
}

.navbar-btn {
    font-size: 20px;
}

.logo-btn {
    font-size: 30px;
}

/* mouse over link */
.navbar-element a:hover {
    color: rgb(47, 37, 18);
}



/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0;
}

/* Caption text */
.text {
    background-color: rgba(255, 255, 255, 0.438);
    color: black;
    font-family: monospace;
    padding: 35px 22px 52px;
    width: 50%;
    margin: auto;
    text-align: center;

}

.slide-btn {
    font-size: 20px;
    color: white;
    background-color: rgb(196, 162, 137);
    padding: 15px 50px;
    position: absolute;
    top:80%;
    left: calc(50% - 75px);
   
}

.slide-btn:hover {
    color: rgb(47, 37, 18);
}


.slide-title {
    position: absolute;
    bottom: 15vh;
    width: 100%;
}

.slide-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;

}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {

    animation-name: fade;
    animation-duration: 2s;
}


@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}