body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 240, 233);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(88, 70, 27);
}

/* -------- головна навігаційна панель --------*/
/* родитель */
.navbar {
  margin:5px 15%;
  padding: 0;

}
h1{
  margin: 50px auto;
  text-align: center;
}

/* flex-контейнер */
.navbar-left-list,
.navbar-right-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar-left-list {
  justify-content: start;

}

.navbar-right-list {
  justify-content: end;
}

/* flex-элемент */
.navbar-element{
  padding: 5px;
  margin: 0 15px;

}
.dropdown-menu{
  padding: 15px;
margin: 0 15%;
}
.navbar-btn,
.logo-btn {
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  color: rgb(88, 70, 27);
}

.navbar-btn {
  font-size: 20px;
}

.logo-btn {
  font-size: 30px;
}

/* mouse over link */
.navbar-element a:hover {
  color: rgb(47, 37, 18);
}


/* -------- слайд прокрутка -------- */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
}
.slideshow-container img{
  height: 70vh;
  object-fit:cover ;
}
/* Caption text */
.text {
  background-color: rgba(255, 255, 255, 0.438);
  padding: 35px 22px 52px;
  width: 50%;
  margin: auto;
  text-align: center;

}

.slide-btn {
  font-size: 20px;
  color: white;
  background-color: rgb(196, 162, 137);
  padding: 15px 50px;
  position: absolute;
  top: 85%;
  left: calc(50% - 75px);

}

.slide-btn:hover {
  color: rgb(47, 37, 18);
}


.slide-title {
  position: absolute;
  bottom: 15vh;
  width: 100%;
}

.slide-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;

}

.slide-dots>.active {
  background-color: #4b4747;
}

/* Fading animation */
.fade {

  animation-name: fade;
  animation-duration: 2s;
}


@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}



/* -------- картки продуктів в вигляді каруселі -------- */
.carousel{
  margin:5px 15%;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.carousel .card img {
  max-width: 100%;
  max-height: 100%;
  object-fit:cover ;
}
.carousel .card {
  cursor: pointer;
  width: 300px;
  height: 420px;
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #685835;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card{
  max-width: 330px;
}
/* --------   footer   -------- */

footer{
  border-top: 1px solid rgb(109, 105, 105);
  margin-top: 80px;
  padding-top: 5px;
  text-align: center;
  
}


/* --------  сторінка входу та реєстрації    -------- */
.content-section{
  margin:5px 35%;
}
.content-section legend{
  text-align: center;
}

.card-deck{
  margin: 100px 50px;
}


/* --------  спливаючий текст на картки    -------- */
.container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container .image {

  display: block;
  width: 100%;
  height: auto;
}

.container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #78898f8c;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.container .text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}